:root{
    --color-primary: rgb(133, 129, 74);
    --color-accent: rgb(173, 168, 97);
    --color-text: #FFFCFF;
    --color-dark: #434A42;
    --color-light: rgb(211, 210, 147);

    --font-nav: 'Inconsolata', monospace;
    --font-main: Arial, Helvetica, sans-serif;
}