:root {
  --color-primary: #434a42;
  --color-secondary: #fffcff;
  --color-text: #434a42;

  --font-nav: 'Inconsolata', monospace;
  --font-main: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body,
.theme {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-secondary);
  font-family: var(--font-main);
  transition: all ease-in-out 300ms;
}

a {
  color: var(--color-text);
}

hr {
  width: 90%;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-nav);
}

nav {
  display: flex;
  flex-direction: row;
}

header label {
  display: flex;
  justify-content: center;
}

input[type='checkbox'] {
  display: none;
}

/* Nav */

ul {
  list-style-type: none;
  padding: 0;
}

.links li {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.links li {
  font-size: 2rem;
}

.links li > a::after {
  content: '';
  position: absolute;
  top: 140%;
  left: 0;
  width: 100%;
  height: 0.1em;
  border-radius: 25%;
  background-color: var(--color-text);
  transform: scaleX(0);
  transition: ease-in 300ms;
}

.links li:hover > a::after,
.links li:focus > a::after {
  transform: scaleX(1);
  transition: ease-out 200ms;
}

.links li a {
  text-decoration: none;
  display: inline-block;
  margin: 0.75em 1em;
  position: relative;
}

/* Settings */

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: min-content;
}

.settings > label {
  width: 100%;
}

.settings > label > p {
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-wrap: nowrap;
}

.slider {
  border: 2px solid var(--color-text);
  border-radius: 20em;
  height: fit-content;
  position: relative;
  min-width: 4.5em;
  margin: auto 1em;
}

.slider p {
  margin: 0.3em;
  padding: 0%;
  text-wrap: nowrap;
  text-align: center;
  font-family: var(--font-nav);
  font-weight: bold;
  user-select: none;
}

.ball {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.25em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--color-text);
  background-color: #fffcff;
  transform: translateX(0);
  transition: all ease-in-out 300ms;
  background-image: url('../assets/images/btn_texture.png');
  background-size: contain;
}

#theme:checked ~ .theme label[for='theme'] .ball {
  transform: translateX(2.1em);
  transition: all ease-in-out 300ms;
}

#theme:checked ~ .theme {
  --color-primary: #fffcff;
  --color-secondary: #434a42;
  --color-text: #fffcff;
  transition: all ease-in-out 300ms;
}

#language:checked ~ .theme label[for='language'] .ball {
  transform: translateX(2.1em);
  transition: all ease-in-out 300ms;
}

/* Main */

main {
  flex: 1;
  display: flex;
  justify-content: center;
  color: var(--color-text);
  font-family: var(--font-nav);
  font-size: 1.5rem;
}

main h2 {
  font-size: 3rem;
  font-family: var(--font-main);
  margin-top: 0.5em;
}

section {
  margin: 0 4em;
  text-align: center;
  padding: 2em;
}

/* Footer */

footer {
  padding: 2em;
}

.footer-socials {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-socials li {
  margin: 0.5em 0;
}

.footer-socials li a,
.footer-socials li a:visited {
  text-decoration: none;
  font-family: var(--font-nav);
  font-size: 1.5rem;
}

@media only screen and (min-width: 850px) {
  ul {
    display: flex;
  }
  .footer-socials,
  header {
    flex-direction: row;
  }
  .settings {
    width: auto;
  }
}
