:root{
    --color-primary: #7765E3;
    --color-accent: #7FC8F8;
    --color-text: #FFFCFF;
    --color-dark: #434A42;
    --color-light: #C3B299;

    --font-nav: 'WindSong', cursive, bold;
    --font-main: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
}

header h1{
    font-family: var(--font-main);
    color: var(--color-text);
    margin-left: 1.5em;
}

header label{
    display: flex;
    justify-content: center;
}

#nav-button-icon{
    transform: rotate(180deg);
}


/* Nav */

ul{
    list-style-type: none;
    padding: 0;
}

.links li,
.links li a{
    font-family: var(--font-nav);
    color: var(--color-text);
    font-size: 2rem;
}

.links li{
    padding: 1em 1em;
    background-color: var(--color-light);
}

.links li a{
    text-decoration: none;
}

nav{
    /* display: none; */
    transform: scaleY(0);
    transition-duration: 150ms;
    transform-origin: top;
}

#nav-button{
    display: none;
}

#nav-button:checked ~ nav {
    transform: scaleY(1);
    display: block;
    transition-duration: 200ms;
    transform-origin: top;
}

#nav-button:checked ~ label #nav-button-icon{
    transform: rotate(0deg);
}

/* Old */

/* #container{
    width: 98%;
    margin: auto;
}

#footer, #header, #menu{
    height: 100px;
    text-align: center;
    position: relative;
}

#footer > p {
    position: absolute;
    bottom: 0px;
    left: 45%;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    width: 30%;
    height: 70px;
    background-color: coral;
    position: relative;
    transition-duration: 0.2s;
    transform: scale(1);
}

.menu > li > ul > li{
    display: block;
    width: 100%;
}

.menu > li > ul{
    visibility: hidden;
    position: absolute;
    top: 70px;
    left: -40px;
    transform-origin: 150px 0px;
    transition-duration: 0.3s;
    transform: scaleY(0);
    width: 100%;
}

.menu > li:hover > ul{
    visibility: visible;
    transform-origin: -200px 0px;
    transition-duration: 0.5s;
    transform: scaleY(1);
}

li:hover{
    background-color: rgb(178, 68, 34);
    transition-duration: 0.5s;
    transform: scale(1.05);
}

#header{
    height: 200px;
    background-image: url("https://cdn.discordapp.com/attachments/688420140609437743/873265309811892284/57ebd99c24601584fcd040b359036feb.jpg_ooooxooxox_1280x720.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
}

.menu{
    font-family: 'WindSong', cursive;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 75px;
}

#content{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: rgb(255, 255, 255);
	text-align: center;
}

#content > h1{
    margin-top: 0px;
} */